* {
  font-family: "Nunito", sans-serif;
}
.list-container {
  display: flex;
  flex-direction: column;
}
#btnCalculer {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 20px;
}
